<?xml version="1.0"?>
<ruleset name="Ordinary Coding Style">
    <!-- display progress -->
    <arg value="p" />
    <!-- Colorful output -->
    <arg name="colors"/>
    <!-- Only PHP files -->
    <arg name="extensions" value="php"/>
    <!-- Show sniff name -->
    <arg value="s" />

    <!-- Rules -->
    <rule ref="Ordinary" />

    <!-- Check files and directories -->
    <file>.</file>
    <!-- One day this will actually work (v4) -->
    <file>./bin/ordinary-code-quality</file>

    <exclude-pattern>*/vendor/*</exclude-pattern>
</ruleset>